





.begin{
    background-image: url(../public/pos.png);
    position:relative;
    height:50vh;
    width: 100%;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    
}


.begin_content{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    padding-top: 50px;
    color:#76b737;
    text-align:center;
    
}
.colum{
    display:inline-block;
     width: 55px;
}
.title{
    color: #76b737;
}
.tool{
    color:#76b737 ;
    margin-top: 2rem;
    font-size: 2.125rem;
    position: relative;
    text-align: center;
}
.tool::after{
    background-color: #76b737;
    margin: 2;
    bottom: -0.9rem;
    content: '';
    display: inline-block;
    height: 0.1125rem;
    left: 40%;
    position:absolute;
    vertical-align: top;
    width: 10.8125rem;
}
.test{
    color:#6b9641 ;
    text-align: left;
    
    
}
.tool_index{
    margin-top: 2rem;
    font-size: 2.125rem;
    position: relative;
    text-align: center;
}
.tool_index::after{
    background-color: #1d442c;
    margin: 0;
    bottom: -0.9rem;
    content: '';
    display: inline-block;
    height: 0.1125rem;
    left: 45%;
    position:absolute;
    vertical-align: top;
    width: 8.8125rem;
}
.begin_conten{
    background-image: url(../public/img/header-bg.jpg);
    position:relative;
    height:50vh;
    width: 100%;
    background-size: cover;
    font-weight: bold;
    text-align: center;
}